.home-main .kj-content {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
.home-main .kj-content .kj-set {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  border-radius: 40px;
  background: red;
  color: #ffffff;
}
.home-main .kj-content .kj-set img {
  width: 40px;
  height: 40px;
}
.home-main .kj-content .text {
  font-size: 14px;
  padding-top: 2px;
  text-align: center;
}
.home-main .lottery-box {
  padding: 10px;
  border: 1px solid #eee;
  margin-left: -1px;
  margin-top: -1px;
  display: block;
}
.home-main .lottery-box:active {
  background: #f3f3f3;
}
.home-main .icon-img {
  width: 70px;
  height: 70px;
}
.home-main .icon-img-h {
  width: 60px;
  height: 60px;
}
.home-main .mui-table-view.mui-grid-view .mui-table-view-cell {
  padding: 0 5px;
}
.home-main .base-name {
  font-weight: 600;
  font-size: 14px;
}
.home-main .base-name-h {
  line-height: 60px;
  font-weight: 600;
  font-size: 14px;
  margin-left: 75px;
  color: #333333;
}
.home-main .base-de {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #cccccc;
}
.home-main .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
  margin-top: 0;
}
.notice {
  height: 34px;
  width: 100%;
  line-height: 34px;
  background: #ffffff;
  padding: 5px 15px;
  font-size: 0;
  position: relative;
  border-bottom: 1px solid #eee;
}
.notice .mui-icon {
  font-size: 24px;
  position: absolute;
  left: 15px;
}
.notice .title {
  width: 100%;
  font-size: 14px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding-left: 30px;
}
.lottery-content {
  background: #ffffff;
}
.lottery-content .title {
  padding: 8px 15px;
  height: 42px;
}
.lottery-content .title .mui-icon {
  font-size: 26px;
  float: left;
}
.lottery-content .title .text {
  font-size: 16px;
  display: inline-block;
  float: left;
  height: 26px;
  line-height: 26px;
}
.lottery-content .mui-content > .mui-table-view:first-child {
  margin-top: 0!important;
}
.lottery-content .mui-grid-view.mui-grid-9 {
  background: #ffffff;
}
